.form_auto{
    margin: 20px auto;
}
.cont_form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.btn{
    margin: 10px auto;
}